.app-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.post-body {
  background:#fff;
  opacity: 0.5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}