.container {
  background-color: black;
  padding-top: 20px;
}

.post {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.post__body {
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post > h2 {
  margin-top: 0;
}

.post > div {
  display: flex;
  justify-content: space-between;
}