.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-posts {
  width: 40%;
  margin: auto;
}

@media (max-width: 992px) {
  .container-posts {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .container-posts {
    width: 90%;
  }
}

.container-posts > a {
  text-decoration: none;
  color: #000;
}

.post {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 12px;
  background-color: #fff;
  border-radius: 5px;
}

.post__title {
  font-size: 1rem;
  font-weight: bold;
}

.post__author {
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: bold;
}

.post__body {
  font-size: 1rem;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post__container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.post__container > span {
  font-size: .8rem;
}

.container-post-detail {
  width: 50%;
  margin: auto;
}

@media (max-width: 992px) {
  .container-post-detail {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .container-post-detail {
    width: 90%;
  }
}

.post-detail {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 12px;
  background-color: #fff;
  border-radius: 5px;
}

.post-detail__title {
  font-size: 1rem;
  margin-top: 20px;
}

.post-detail__author {
  font-size: 0.9rem;
  margin-top: 10px;
}

.post-detail__body {
  font-size: 1rem;
  margin-top: 10px;
}

.post-detail__section-title {
  font-size: .9rem;
  font-weight: bold;
  color: #999;
}

.post-detail__back-btn {
  cursor: pointer;
  font-size: 1rem;
  font-style: italic;
  color: #999;
  display: flex;
}

.post-detail__back-icon {
  width: 20px;
  height: auto;
}

.container-commnents {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.comment {
  background: #fff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.comment__title {
  font-size: .9rem;
  font-weight: bold;
}

.comment__email {
  font-size: .8rem;
  text-decoration: underline;
  margin-top: 5px;
}

.comment__body {
  font-size: .9rem;
  margin-top: 5px;
}

.container-loading {
  width: 50%;
  margin: auto;
}

.loading {
  margin: auto;
  margin-top: 40px;
  font-size: 1.rem;
  width: fit-content;
  padding: 12px;
  background-color: #fff;
  border-radius: 5px;
}
